

<% if listings.empty? %>
 No listings to display! Go <%= link_to 'create one', new_listing_path %>.
<% else %>
  <table class="table table-striped">
    <tbody>
      <% listings.each do |listing| %>
        <tr>
          <td><div class='pull-left'><h3><%= listing.title%></h3></div><div class='pull-right'><h6><%= listing.created_at.strftime("due on %B %d at %I:%M %p") %></h6></div>
          <div class='Description'><strong>Description:</strong>
             <%= listing.description %></div><br><br>
            <strong>Category:</strong>
             <%= link_to listing.category.name, listing.category%>
       
             </td>
          </td>
         <p>
            
          </p>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>